
<html>
    <header>
        <link rel="stylesheet" href="./css/header.css"> 
    </header>
    <body> 

        <div id="header">
        This is the header of the social web app
        </div>
    </body> 

</html>