<html>
<head>
    <title>
       <%=title%>
    </title>
    
</head> 
<body>

    <form action="/sign_up">
    <input type="submit" value="SIgnIn"  placeholder="SIgnIn">

    </form>


    <form action="/sign_in">
       
        <input type="submit" value="SIgnIn"  placeholder="SIgnIn">
    
        </form>
    
    This is the homepage for this social app

     

</body>   
<html>