<html>
<head>
    <title>
       <%=title%>
    </title>
    
</head> 
<body>

    This is the homepage for this social app

    <section id='feedpost'>
        <h4>Post</h4>
     <form action="" id="newpostform" method='post'>

   <textarea name="content"  cols="30" rows="3"></textarea>
     <input type="submit" value='post'>

     </form>
    </section>

</body>   
<html>