<html>
<head>
    <link rel="stylesheet" href="./css/all.css"> 
    <title>
       <%=title%>
    </title>
    
</head> 
<body>

    <h1>This is the Profile Page</h1>
     <%=email %>



     <form action="signout"  method="get">
       
        <input type="submit" placeholder="SignOut" name="signout">

     </form>


</body>   
<html>