<html>
    <header>

 
    <title>
        SignIn
    </title>

</header>


<body>

   <h1> This is sign in page</h1>

   <form action="/users.createsession" method="POST">
    <input type ='email' name="email " placeholder="email/username" required>
    <input type ="password" name="password" placeholder="password" required>
    <input type="submit"  name='submit'  placeholder="Sign In">
  </form>


 

</body>

</html>