<html>
    <header>

 

      <link rel="stylesheet" href="./css/all.css"> 
       

    <title>
        SignIn
    </title>

</header>


<body>

        <%- include('header'); -%> 

           <h1> This is sign in page </h1>

   <form action="createsession" method="POST">
    <input type ='text'  name="email" placeholder="email" required    value="email">
    <input type ="password" name="password" placeholder="password" required>
    <input type="submit"  name='submit'  placeholder="Sign In">
  </form>


 

</body>

</html>